/*stave*/
.b-content {
	width: 400px;
	margin: 0 auto;
	text-align: center;
}
.i-statistics #Stave,
.i-statistics #answer-panel {
	display: none;
}

.b-statistics {
	text-align: left;
	font-size: 9pt;
}
/*_stave_*/

/*answer panel*/
#answer-panel {
	width: 80%;
	height: 100px;
	position: relative;
	font-size: 10pt;
	margin: 0 auto;
}

#answer-panel div {
	position: absolute;
	top: 0;
	left: 0;
	
	width: 7.5%;
	height: 100px;
	background: #fff;
	opacity: 0.5;
}

#answer-panel div.i-key {
	opacity: 1;
	box-shadow: 0 5px 2px rgba(0,0,0,0.15);
}

#answer-panel .i-c {
	left: 2%;
}
#answer-panel .i-cis {
	left: 10%;
	background: #000;
}
#answer-panel .i-d {
	left: 18%;
}
#answer-panel .i-dis {
	left: 26%;
	background: #000;
}
#answer-panel .i-e {
	left: 34%;
}
#answer-panel .i-f {
	left: 42%;
}
#answer-panel .i-fis {
	left: 50%;
	background: #000;
}
#answer-panel .i-g {
	left: 58%;
}
#answer-panel .i-gis {
	left: 66%;
	background: #000;
}
#answer-panel .i-a {
	left: 74%;
}
#answer-panel .i-b {
	left: 82%;
	background: #000;
}
#answer-panel .i-h {
	left: 90%;
}
/*_answer panel_*/

/*popup*/
.ui-popup {
	width: 300px;
	font-size: 9pt;
	line-height: 1.5;
}
/*_popup_*/